- content_for :page_header do
  %h1
    Events

- content_for :breadcrumbs do
  %li.active
    = link_to 'Events', admin_events_path

- if @events.blank?
  %div.alert.alert-box.alert-info
    %a.close{data: {dismiss: 'alert'}, href: '#'} x
    %h4 No Events
    %p
      It looks like you haven't added any events.
      = link_to 'Create one on EventBrite', 'http://www.eventbrite.com'
- else
  %table.table
    %tr
      %th Title
      %th Organizer
      %th Start Date
      %th End Date
      %th Actions
    - @events.each do |event|
      = render event