.row-fluid
  .span8
    %p.lead
      We are a group of coders that have started a grassroots movement to foster a stronger software community in Niagara.
    %p
      We aim to accomplish this by holding events that will bring together people that share an interest in technology.
  .span4