- content_for :banner do
  #banner
    .container
      .row
        .span8
          .well
            %h2
              Happy Holidays
            %p.lead
              Software Niagara is taking a break for the holidays. We wish you all a happy holiday season and we will
              see you in the new year at our Winter Warm-Up Event in January.
            %p.lead
              Software Coworking will continue over the holiday season. Join us every monday night at Mahtay Cafe from
              7PM until late.
            %p
              = link_to 'Join us for Coworking', 'http://softwarecoworkingniagara.eventbrite.com', class: 'btn btn-success btn-large'

#promotions
  .row-fluid
    .span4
      %h3
        Mailing List
      %p.lead
        Sign up for our mailing list to stay up to date on what Software Niagara
        is doing.
      %p
        = link_to 'Sign up', new_newsletter_path, class: 'btn btn-large btn-inverse'
    .span4
      %h3
        Coming Up
      %p.lead
        Software Niagara's DemoCamp
        on Nov 28 @ Red Hot Chili Pepper.
      %p
        = link_to 'Register', 'http://democampniagara2.eventbrite.com', class: 'btn btn-large btn-inverse'
    .span4
      %h3
        Coworking
      %p.lead
        Join us for Software Coworking every Monday night at Mahtay Cafe.
      %p
        = link_to 'Register', 'http://softwarecoworkingniagara.eventbrite.com', class: 'btn btn-large btn-inverse'
