- content_for :banner do
  #banner
    .container
      .row
        .span8
          .well
            %h2
              We are back...
            %p.lead
              We are back from the holidays and gearing up for an exciting winter. We are planning Winter Warmup and
              DemoCamp events for February.
            %p.lead
              Software Coworking continues every monday night at Mahtay Cafe from 7PM until late. Join us. It's a great
              way to meet other designers and developers, bounce around ideas, and get help on your projects.
            %p
              = link_to 'Join us for Coworking', 'http://softwarecoworkingniagara.eventbrite.com', class: 'btn btn-success btn-large'

#promotions
  .row-fluid
    .span4
      %h3
        Mailing List
      %p.lead
        Sign up for our mailing list to stay up to date on what Software Niagara
        is doing.
      %p
        = link_to 'Sign up', new_newsletter_path, class: 'btn btn-large btn-inverse'
    .span4
      %h3
        Coming Up
      %p.lead
        Software Hamilton presents DemoCamp Hamilton 10 at the Arnie Student Pub at
        Mohawk.
        %br
        = link_to 'Register', 'http://democamphamilton10.eventbrite.com/', class: 'btn btn-large btn-inverse'

    .span4
      %h3
        Coworking
      %p.lead
        Join us for Software Coworking every Monday night at Mahtay Cafe.
      %p
        = link_to 'Register', 'http://softwarecoworkingniagara.eventbrite.com', class: 'btn btn-large btn-inverse'
