#modal-subscribe.reveal-modal
  h3 Monthly Newsletter
  p
    | Sign-up for our monthly newsletter. It includes updates on technology news and events in the Niagara area.

  form(action='http://softwareniagara.us5.list-manage.com/subscribe/post?u=05691c73c71b8b4c0331ca2d9&amp;id=c8cb8ab954', method='post', id='mc-embedded-subscribe-form', name='mc-embedded-subscribe-form', data-validate='parsley', data-focus='first', target='_blank')
    label(for='mce-Email') Email
    input(type='email', name='EMAIL', class='email', id='mce-EMAIL', placeholder='email address', data-required='true', data-type='email')
    input(type='submit', value='Subscribe', name='subscribe', id='mce-embedded-subscribe', class='button')

  a.close-reveal-modal
    != "&#215;"

#modal-sign-in.reveal-modal
  h3 Sign in
  p Authorized users may sign in with their GitHub account.
  a(href='/auth/github', class='button') Sign In with GitHub
  a.close-reveal-modal
    != "&#215;"