doctype 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
  //<![endif]
html
  head
    title= settings.getTitle(title)
    meta(name='description', content=settings.description)
    meta(nmae='keywords', content=settings.keywords)
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/fc-webicons.css')
    link(rel='stylesheet', href='/stylesheets/fc-icons.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/parsley.min.js')
    script(src='/javascripts/waypoints.min.js')
    script(src='/javascripts/app.js')
  body
    .wrapper
      include _navigation
      include _header
      .row
        .twelve.columns
          div(id='main', role='main')
            block content
    include _footer
    include _modals
    include _analytics
