<footer id="footer">
    <div class="row">
        <div class="large-8 small-12 columns">
            <h3>About Software Niagara</h3>
            <p>
                Software Niagara is a group of developers, designers, and entrepreneurs with a belief that Niagara is
                a great place to create. Through outreach, advocacy, and education, we are working to build a vibrant
                tech and startup community.
            </p>
            <p>
                <a href="about" class="button">About Us</a>
            </p>
        </div>
        <div class="large-4 small-12 columns">

        </div>
    </div>
</footer>