<footer id="footer">
    <div class="social-media">
        <div class="row">
            <div class="large-12 small-12 columns">
                <ul class="inline-list">
                    <li class="first">
                        <a href="https://github.com/softwareniagara">
                            <i class="social foundicon-github has-tip tip-top" data-tooltip title="Connect with us on GitHub"></i>
                        </a>
                    </li>
                    <li class="last">
                        <a href="https://twitter.com/softwareniagara">
                            <i class="social foundicon-twitter has-tip tip-top" data-tooltip title="Follow us on Twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-8 small-12 columns">
            <h3>About Software Niagara</h3>
            <p>
                Software Niagara is a group of developers, designers, and entrepreneurs with a belief that Niagara is
                a great place to create. Through outreach, advocacy, and education, we are working to build a vibrant
                tech and startup community.
            </p>
            <p>
                <a href="/about" class="button">More</a>
            </p>
        </div>
        <div class="large-4 small-12 columns">
            <h3>Newsletter</h3>
            <p>
                Keep up with the community.
            </p>
            <form action="http://softwareniagara.us5.list-manage.com/subscribe/post?u=05691c73c71b8b4c0331ca2d9&amp;id=c8cb8ab954" method="post" id="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form" data-validate="parsley" data-focus="first" target="_blank">
                <label for="mce-EMAIL" class="hidden">Email</label>
                <input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" data-required="true" data-type="email">
                <input type="submit" value="Subscribe" name="subscribe" id="mce-embedded-subscribe" class="button">
            </form>
        </div>
    </div>
</footer>