<!--[if lt IE 9]>
    <p><strong>You are using an <u>outdated browser</u> browser, so we are giving you an <u>outdated experience</u>. Please 
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</strong></p>
<![endif]-->
<header id="header">
    <div class="row">
        <h1>
            <a href="/" title="Home" class="logo">{{ site.name }}</a>
        </h1>
          <nav class="hide-for-small">
            <ul class="inline-list">
                <li>
                    <a href="#events" data-dropdown="dropdown">Events</a>
                    <ul id="dropdown" class="f-dropdown" data-dropdown-content>
                        <li><a href="#events" data-scroll-nav="1">Community Events</a></li>
                        <li class="divider"></li>
                        <li><a href="#coworking" data-scroll-nav="2">Coworking</a></li>
                        <li><a href="#democamp" data-scroll-nav="3">DemoCamp</a></li>
                        <li><a href="#devtricks" data-scroll-nav="4">DevTricks</a></li>
                        <li><a href="#hackathons" data-scroll-nav="5">Hackathons</a></li>
                        <li><a href="#startup-drinks" data-scroll-nav="6">Startup Drinks</a></li>
                    </ul>
                </li>
                <li><a href="#about" data-scroll-nav="7">About</a></li>
                <li><a href="#contact" data-scroll-nav="8">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<nav class="top-bar show-for-small">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#"></a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="has-dropdown">
                <a href="#">Events</a>
                <ul class="dropdown">
                    <li><a href="#events" data-scroll-nav="1">Community Events</a></li>
                    <li><a href="#coworking" data-scroll-nav="2">Coworking</a></li>
                    <li><a href="#democamp" data-scroll-nav="3">DemoCamp</a></li>
                    <li><a href="#devtricks" data-scroll-nav="4">DevTricks</a></li>
                    <li><a href="#hackathons" data-scroll-nav="5">Hackathons</a></li>
                    <li><a href="#startup-drinks" data-scroll-nav="6">Startup Drinks</a></li>
                </ul>
            </li>
            <li><a href="#about" data-scroll-nav="7">About</a></li>
            <li><a href="#contact" data-scroll-nav="8">Contact</a></li>
        </ul>
    </section>
</nav>