<header id="header">
    <div class="row">
        <h1>
            <a href="/" title="Home" class="logo">{{ site.name }}</a>
        </h1>
        <nav>
            <ul class="inline-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#" class="button">Contribute</a></li>
            </ul>
        </nav>
    </div>
</header>