<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex">

    <script src="/assets/js/custom.modernizr.js"></script>
    <!--[if (gt IE 8)|!(IE)]><!--><link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet'><!--<![endif]-->
    <!--[if (gt IE 8)|!(IE)]><!--><link rel="stylesheet" href="/assets/css/main.css"><!--<![endif]-->
</head>