body{background-color:#2e333d;padding-top:0 !important}
a{-webkit-transition:.3s color linear;-moz-transition:.3s color linear;-o-transition:.3s color linear;-ms-transition:.3s color linear;transition:.3s color linear}
.button{background-color:#01abc5;border-color:#01a2bb;-webkit-box-shadow:none;box-shadow:none;}
.button:hover{background-color:#019ab1}
.button.secondary{background-color:#e6edf2;border-color:#d6e2ea;}
.button.secondary:hover{background-color:#c7d7e2}
ul{list-style:none}
h1,h2,h3,h4,h5,h6{color:#205081}
h1,h2,h3,h4{font-weight:normal}
.page-title,.sub-title{padding-bottom:20px;border-bottom:1px solid #e9e9e9}
.sub-title{padding-top:20px;border-top:1px solid #e9e9e9}
form textarea{height:400px}
form .parsley-error{border-color:#c60f14}
form .parsley-error-list{list-style:none;color:#c60f14}
.fixed,.top-bar{background-color:#205081}
.fixed{border-bottom:1px solid #153454;-webkit-box-shadow:0 2px 2px rgba(32,80,129,0.5);box-shadow:0 2px 2px rgba(32,80,129,0.5)}
.top-bar ul > li:hover,.top-bar ul > li:not(.name):hover,.top-bar ul > li a:hover,.top-bar ul > li:not(.name) a:hover,.top-bar ul > li a:focus,.top-bar ul > li:not(.name) a:focus,.top-bar ul > li a.active,.top-bar ul > li:not(.name) a.active{background-color:transparent;color:#01abc5}
#header .name{float:left;}
#header .name h1{font-size:1em}
#header .name a{display:block;background:transparent url("../images/logo.png") center center no-repeat;-webkit-background-size:100%;-moz-background-size:100%;background-size:100%;height:7em;width:11em;text-indent:-9999em;overflow:hidden}
#header li{float:left}
#header section ul{padding:2.75em 0}
#header section li{font-size:1.5em;margin-left:2em;}
#header section li a{display:block;float:left;color:#fff;}
#header section li a:hover{color:#01abc5}
.svg #header .name a{background-image:url("../images/logo.svg")}
.wrapper{background:#e6edf2 url("../images/banner.png") top left repeat-x;position:relative;padding-top:3em}
#main{background-color:#fff;padding:2em;-webkit-border-radius:.5em;border-radius:.5em;-webkit-box-shadow:0 0 6px rgba(32,80,129,0.25);box-shadow:0 0 6px rgba(32,80,129,0.25);margin-bottom:3em}
#footer{background-color:#252931;color:#e6edf2;border-bottom:1px solid #2e333d;}
#footer h1,#footer h2,#footer h3,#footer h4,#footer h5{color:#fff}
#footer .social-networks{margin-top:1.3em;}
#footer .social-networks li{display:inline;padding:0 .5em}
#footer .social-networks a{-webkit-box-shadow:0 0 3px rgba(0,0,0,0.25);box-shadow:0 0 3px rgba(0,0,0,0.25);width:2em;height:2em}
#contentinfo{background-color:#2e333d;padding:1.5em 0;color:#535c6d;text-align:center;-webkit-box-shadow:inset 0 3px 6px rgba(37,41,49,0.75);box-shadow:inset 0 3px 6px rgba(37,41,49,0.75);}
#contentinfo small{font-size:.9em}
.reveal-modal{z-index:999999}
.promo{margin-top:-2.1em;margin-left:-2em;margin-right:-2em;padding:2em;-webkit-border-radius:.5em .5em 0 0;border-radius:.5em .5em 0 0;background-color:#fffbd1;border-top:none;border-left:none;border-right:none;border-bottom-color:#fff7a3}
.accent{background-color:#e6edf2;font-size:5em;padding-top:.5em;padding-bottom:.5em;text-align:center;color:#205081}
.organizers{list-style:none;}
.organizers .avatar{background-position:center center;-webkit-background-size:100%;-moz-background-size:100%;background-size:100%;background-repeat:no-repeat;width:4.8125em;height:4.8125em;float:left;margin:1em;-webkit-border-radius:2.40625em;border-radius:2.40625em}
.organizers .content{float:left}
.organizers dd{margin-bottom:.5em}
.social-networks.enclosed li{margin-bottom:1em}
.social-networks.enclosed i{background:#01abc5;color:#e6edf2;font-size:1em;padding:.5em;-webkit-border-radius:1em;border-radius:1em;vertical-align:top;margin-right:.5em}
.social-networks.enclosed a:hover i{background:#01a2bb}
@media only screen and (max-width: 767px){#header{text-align:center;}
#header .name{width:100%;text-align:center;}
#header .name a{background-image:url("../images/logo-inverse.png");margin-left:auto;margin-right:auto}
.svg #header .name a{background-image:url("../images/logo-inverse.svg")}
.wrapper{background-color:#fff;background-image:none}
#main{-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none;padding:0}
.promo{margin-top:0;margin-left:0;margin-right:0;border-bottom:none;-webkit-border-radius:0 0 0 0;border-radius:0 0 0 0;background-color:transparent;padding:0}
.accent{display:none}
}