$green: #5AB65E;
$red: #E85053;
$orange: #F5D33D;
$darker-gray: #262626;
$dark-gray: #414142;
$light-gray: #DFDFDF;
$lighter-gray: #EFEFEF;
$button-color: #0078E7;
$button-text: #fff;
$logo-accent: #00AAC8;