$purple: #00AAC8;
$green: #5AB65E;
$brown: #ffc200;
$orange: #ff9500;
$darker-gray: #262626;
$dark-gray: #414142;
$light-gray: #DFDFDF;
$lighter-gray: #e2e2e2;
$mid-gray: #d5d5d5;
$button-color: #00AAC8;
$button-text: #fff;
$logo-accent: #00AAC8;