@import 'compass/css3';
@import '_mixins';
@import '_syntax';
@import '_foundation_framework';
@import '_foundation_icons';

$blue: #15AFCA;
$purple: #8156A7;
$green: #5AB65E;
$red: #DF5048;
$orange: #DB6E00;
$yellow: #FCD40A;
$dark-gray: #363636;

$button-color: #0078E7;
$button-text: #ffffff;
$logo-text: #414142;
$logo-accent: #00AAC8;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background-color: white;
  font-family: $font-family;
  padding-top: 105px;
}


/**
 * Common
 */
.hidden {
  text-indent: -9999em;
  height: 0;
}

.logo {
  @include background-size(100%);
  background: transparent url('../images/logo-inverse.png') center center no-repeat;
  display: block;
  height: 95px;
  overflow: hidden;
  text-indent: -9999em;
  width: 165px;
}

.button {
  @include border-radius(3px);
  @include box-shadow(none);
}


.panel.callout {
  @include box-shadow(none);
  background-color: #333;
  border-color: #222;
}

.panel {
  h3 {
    @include box-shadow(0 1px 0 #fff);
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: .375em;
    padding-bottom: .375em;
  }

  &.callout {
    @include box-shadow(none);
    background-color: #333;
    border-color: #222;

    h3 {
      @include box-shadow(0 1px 0 #444);
      border-bottom-color: #222222;
      margin-bottom: .375em;
      padding-bottom: .375em;
    }

    .button {
      background-color: $green;

      &:hover {
        background-color: darken($green, 10%);
      }
    }
  }
}

/**
 * Header
 */
#header {
  @include clearfix;
  @include box-shadow(0 1px 3px rgba(black, 0.35));
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding:  5px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  h1 {
    float: left;
    margin: 0;
  }

  nav {
    background-color: transparent;
    float: right;
    margin-top: 24px;
    width: auto;

    a:not(.button) {
      color: #414142;
      padding-top: 10px;
      padding-bottom: 12px;

      &:hover {
        color: darken(#414142, 10%);
      }
    }

    .button {
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}

/**
 * Banner
 */
#banner {
  @include background-size(cover);
  background: transparent url('../images/banner.jpg') bottom left no-repeat fixed;
  margin-bottom: 50px;
  padding: 130px 0 180px 0;
  text-align: center;
  color: white;

  h1, h2, h3, h4, h5, h6 {
    font-size: 4em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 20px;
    text-shadow: 0 -1px 0px rgba(black, .75);
    color: white;
  }

  p {
    color: white;
    font-size: 1.4em;
    text-shadow: 0 0px 1px rgba(black, .75);
  }

  .button {
    @include border-radius(7px);
    @include box-shadow(inset 0 -4px 0 darken($green, 5%));
    background-color: $green;
    border: 1px solid darken($green, 10%);
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(black, .25);

    &:hover {
      @include box-shadow(inset 0 -4px 0 darken($green, 15%));
      background-color: darken($green, 10%);
      border-color: darken($green, 15%);
    }
  }
}

/**
 * Footer
 */
#footer {
  background-color: #F2F2F2;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 10px;
  margin-top: 30px;

  .social-media {
    background-color: #333;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 20px;

    ul {
      margin: 0 auto;
      width: 11em;
    }

    li {
      font-size: 3em;

      &.first {
        margin-left: 0;
      }
    }

    a {
      color: #121212;
      text-shadow: 0 1px 0 #464646;

      &:hover {
        color: #000000;
      }
    }
  }
}

/**
 * Credits
 */
#credits {
  padding-top: 30px;
  padding-bottom: 30px;

  p {
    font-size: .8em;
    line-height: 1.2em;
  }
}
