@import 'compass/css3';
@import 'mixins';
@import 'syntax';
@import 'foundation_framework';

$blue: #15AFCA;
$purple: #8156A7;
$green: #5AB65E;
$red: #DF5048;
$orange: #DB6E00;
$yellow: #FCD40A;
$dark-gray: #363636;

$button-color: #0078E7;
$button-text: #ffffff;
$logo-text: #414142;
$logo-accent: #00AAC8;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background-color: white;
  font-family: $font-family;
  padding-top: 115px;
}


/**
 * Common
 */
.logo {
  @include background-size(100%);
  background: transparent url('../images/logo-inverse.png') center center no-repeat;
  display: block;
  height: 95px;
  overflow: hidden;
  text-indent: -9999em;
  width: 165px;
}

/**
 * Header
 */
#header {
  @include clearfix;
  @include box-shadow(0 1px 3px rgba(black, 0.35));
  background-color: rgba(white, 0.9);
  border-bottom: 1px solid #ccc;
  padding:  5px 0;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    float: left;
    margin: 0;
  }

  nav {
    background-color: transparent;
    float: right;
    margin-top: 24px;
    width: auto;

    a:not(.button) {
      padding-top: 10px;
      padding-bottom: 12px;
    }

    .button {
      margin-bottom: 0;
    }
  }
}

/**
 * Banner
 */
#banner {
  @include background-size(cover);
  background: transparent url('../images/banner.jpg')  top center no-repeat;
  margin-top: -115px;
  margin-bottom: 30px;
  padding: 215px 0 180px 0;
  text-align: center;

  .introduction {
    color: white;
    margin: 0 auto;
    max-width: 600px;
    width: 60%;

    h1, h2, h3, h4, h5, h6 {
      font-size: 4em;
      font-weight: normal;
      line-height: 1.2em;
      margin-bottom: 20px;
      text-shadow: 0 -1px 0 rgba(black, .5);
    }

    p {
      font-size: 1.2em;
      text-shadow: 0 -1px 0 rgba(black, .5);

      &.large {
        font-size: 2em;
      }
    }
  }
}
