@import 'compass/css3';
@import '_mixins';
@import '_syntax';
@import '_foundation_framework';

$blue: #15AFCA;
$purple: #8156A7;
$green: #5AB65E;
$red: #DF5048;
$orange: #DB6E00;
$yellow: #FCD40A;
$dark-gray: #363636;

$button-color: #0078E7;
$button-text: #ffffff;
$logo-text: #414142;
$logo-accent: #00AAC8;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background-color: white;
  font-family: $font-family;
  padding-top: 105px;
}


/**
 * Common
 */
.logo {
  @include background-size(100%);
  background: transparent url('../images/logo-inverse.png') center center no-repeat;
  display: block;
  height: 95px;
  overflow: hidden;
  text-indent: -9999em;
  width: 165px;
}

.button {
  @include border-radius(3px);
  @include box-shadow(none);
}

/**
 * Header
 */
#header {
  @include clearfix;
  @include box-shadow(0 1px 3px rgba(black, 0.35));
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding:  5px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  h1 {
    float: left;
    margin: 0;
  }

  nav {
    background-color: transparent;
    float: right;
    margin-top: 24px;
    width: auto;

    a:not(.button) {
      color: #414142;
      padding-top: 10px;
      padding-bottom: 12px;

      &:hover {
        color: darken(#414142, 10%);
      }
    }

    .button {
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}

/**
 * Banner
 */
#banner {
  @include background-size(cover);
  background: transparent url('../images/banner.jpg') bottom left no-repeat fixed;
  margin-bottom: 30px;
  padding: 130px 0 180px 0;
  text-align: center;
  color: white;

  h1, h2, h3, h4, h5, h6 {
    font-size: 4em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 20px;
    text-shadow: 0 -1px 0px rgba(black, .75);
    color: white;
  }

  p {
    color: white;
    font-size: 1.4em;
    text-shadow: 0 0px 1px rgba(black, .75);
  }

  .button {
    text-shadow: 0 -1px 0 rgba(black, .5);
  }
}
