body
	background-color #F2F2F2

h1, h2, h3, h4, h5, h6
	font-family 'Open Sans Condensed', sans-serif
	font-weight 400

a, a:link
	cursor pointer

.button
	background-color #3AAAC8
	border-color #3396B0
	text-shadow 0 -1px #3396B0

.button:hover
	background-color #3FB9DA

.top-bar
	background linear-gradient(top, white, black)
	border-bottom 1px solid #000
	height 60px

	li.name h1 a
		background transparent url('/graphics/symbol.png') 15px center no-repeat
		font-family 'Charcoal CY', 'Helvetica Neueue', Arial, Helvetica, sans-serif
		color white
		padding-left 105px
		height 60px
		line-height 60px
		text-shadow 0 -1px #000

	li.name h1 a span.location
		color #00AAC8

	ul > li.has-dropdown a
		padding-right 15px
		height 60px
		line-height 60px

	ul > li.has-dropdown a::after
		display none

.main
	background white url('/graphics/bg.png') top left repeat
	padding-top 60px
	border-bottom 1px solid #E9E9E9

.main .container
	background white
	width 960px
	margin 30px auto
	margin-bottom 50px
	box-shadow 0 0 6px rgba(0, 0, 0, 0.15)

.panel h3
	margin-top 30px
	margin-bottom 10px

.panel i
	color #CDCDCD

ul.breadcrumbs
	padding-left 0
	padding-right 0
	border-top none
	border-left none
	border-right none
	background-color #00AAC8
	border-radius 0
	margin 0 -25px
	margin-bottom 20px
	padding-left 25px
	padding-right 25px

	li:before
		color #2F8AA3

	li a
		color white


.colophon
	padding-top 29px 
	padding-bottom 30px

	.logo
		height 80px
		width 138px

	.credits
		font-size 13px
		text-align right
		margin-bottom 0

	.social
		margin-bottom 0

	.social li i
		font-size 48px

	.social li a 
		color #414142