/**
 * Variables
 */
secondaryColor = #e9e9e9;
highlightColor = #FFF995;
primaryColor = #01ABC5;
accentColor = #161616;
textColor = #262626;
errorColor = #C60F14;
successColor = #5DA423;
buttonColor = primaryColor;
secondaryButtonColor = #262626;
textColor = #333;

/**
 * Common
 */

body {
  background-color: white;
  padding: 0 0 2em 0 !important;
}

.panel {
  background-color: #EBEFF1;
  border-color: #DDE1E3;
}

/**
 * Links and buttons
 */

a {
  transition: .3s color linear;
}

.button {
  background-color: buttonColor;
  border-color: darken(buttonColor, 5%);
  box-shadow: none;

  &:hover {
    background-color: darken(buttonColor, 10%);
  }
}

/**
 * Lists
 */

ul {
  list-style: none;
}

/**
 * Headings and page titles
 */

h1, h2, h3, h4, h5, h6 {
  color: accentColor;
  font-weight: normal;
}

h5, h6 {
  font-weight: bold;
}

hgroup {
  margin: 1em 0;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.page-title,
.sub-title {
  padding-bottom: 20px;
  border-bottom: 1px solid secondaryColor;
  color: #5B9147;
}

.sub-title {
  padding-top: 20px;
  border-top: 1px solid secondaryColor;
}

/**
 * Forms
 */

form textarea {
  height: 400px;
}

form .parsley-error {
  border-color: errorColor;
}

form .parsley-error-list {
  list-style: none;
  color: errorColor;
}

/**
 * Toolbar/top-bar
 */
.contain-to-grid .top-bar {
  margin-bottom: 0;
}

/**
 * Header
 */
#header {

  .name {
    float: left;
  }
  
  section {
    float: right;
  }

  h1 {
    font-size: 1em;

    a {
      display: block;
      background: transparent url('../images/logo.png') center center no-repeat;
      background-size: 100%;
      height: 7em;
      width: 11em;
      text-indent: -9999em;
      overflow: hidden;
    }
  }
}

.svg #header .name h1 a {
  background-image: url('../images/logo.svg');
}

/**
 * Wrapper
 */
.wrapper {
  background: #EBEFF1 url('../images/banner.png') top left repeat-x;
  position: relative;
  padding-top: 3em;
}

/**
 * Page
 */
#main {
  background-color: white;
  padding: 2em;
  border-radius: .5em;
  box-shadow: 0 0 6px rgba(black, .15);
  margin-bottom: 3em;
}

// FOOTER
#footer {
  padding: 2em 0;

  h1, h2, h3, h4, h5 {
    color: accentColor;
  }

  .social-networks {
    margin-top: 1.3em;

    li {
      display: inline;
      padding: 0 .5em;
    }

    a {
      box-shadow: 0 0 3px rgba(0,0,0,.25);
      width: 2em;
      height: 2em;
    }
  }
}

.reveal-modal {
  z-index: 999999;
}

/**
 * Home page
 */
.hero-unit {
  margin-top: -2.1em;
  margin-left: -2em;
  margin-right: -2em;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: .5em .5em 0 0;
  background-color: #EBEFF1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: darken(#FFFBD1, 10%);
}

.accent {
  background-color: #EBEFF1;
  font-size: 5em;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
  color: #9EB9D2;
}

/**
 * About page
 */
.organizers {
  list-style: none;

  .avatar {
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4.8125em;
    height: 4.8125em;
    float: left;
    margin: 1em;
    border-radius: 2.40625em;
  }

  .content {
    float: left;
  }

  dd {
    margin-bottom: .5em;
  }
}

/**
 * Contact page
 */
.social-networks.enclosed {
  li {
    margin-bottom: 1em;
  }

  i {
    background: primaryColor;
    color: white;
    font-size: 1em;
    padding: .5em;
    border-radius: 1em;
    vertical-align: top;
    margin-right: .5em;
  }

  a:hover i {
    background: darken(primaryColor, 5%);
  }
}

/**
 * IE Hacks
 */
.lt-ie9 #header .name a {
  width: 250px;
  height: 145px;
  background-size: auto;
}

.lt-ie9 {
  .top-bar ul > li {
    a {
      color: textColor;
    }

    &:hover,
    a:hover,
    a:focus,
    a.active {
      background-color: darken(white, 5%) !important;
      color: primaryColor;
    }

    &.active a {
      background-color: darken(white, 5%);
      color: textColor;
    }
  }

  .top-bar ul > li.name {
    color: primaryColor;
  }
}

/**
 * Responsive layout
 */
@media only screen and (max-width: 767px) {
  body {
    padding-top: 0;
  }

  .wrapper {
    padding-top: 0;
  }

// HEADER
  #header {
    text-align: center;

    .name {
      width: 100%;
      text-align: center;

      a {
        background-image: url('../images/logo-inverse.png');
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .svg #header .name a {
    background-image: url('../images/logo-inverse.svg');
  }

  .wrapper {
    background-color: white;
    background-image: none;
  }

  #main {
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  .hero-unit {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
    border-radius: 0 0 0 0;
    background-color: transparent;
    padding: 0;
  }

  .accent {
    display: none;
  }
}

.event {
  margin-bottom: 2em;
}