- content_for :breadcrumbs do
  %li
    = link_to 'Posts', admin_posts_path
    .point

- if @posts.blank?
  %div.alert.alert-box.alert-info
    %a.close{data: {dismiss: 'alert'}, href: '#'} x
    %h4 No Posts
    %p
      It looks like you haven't added any posts.
      = link_to 'Create one', new_admin_post_path
      now.

- else
  %table.table.table-bordered.table-striped
    %tr
      %th Title
      %th Author
      %th Created
      %th Updated
      %th Actions
    - @posts.each do |post|
      = render post

%p
  = link_to 'Create', new_admin_post_path, class: 'btn btn-success btn-large pull-right'