%footer
  .row-fluid
    .span2
      %img(src="/assets/frontend/logo_full.png" alt="Software Niagara")

    .span4
      %h6
        About
      %p
        The Software Niagara website is actively developed by a group of volunteers.
        %a(href="/about/")
          Learn More
      %p
        The code is open source and available at
        != "#{link_to 'Github', 'https://github.com/softwareniagara/software-niagara'}."
        Send us a pull request if you want to help out with the site.

    .span4
      %h6
        Credits
      %ul
        %li
          Banner image photographed by
          %a(href="http://www.flickr.com/photos/44461337@N06/")
            gtall1
        %li
          Logo donated by
          %a(href="http://www.leighannfrommann.com/")
            LeighAnn Frommann

      %p
        != "&copy; #{Time.now.strftime('%Y')} Software Niagara. All rights reserved."


    .span1
      %a(href="http://twitter.com/softwareniagara" title="Follow us on Twitter")
        %img(src="http://placehold.it/400/3a92e6/ffffff&text=Twitter")

    .span1
      %a(href="http://www.facebook.com/softwareniagara" title="Follow us on Facebook")
        %img(src="http://placehold.it/400/3a92e6/ffffff&text=Facebook")