.row
  .span12
    %ul.nav.nav-pills.pull-right
      %li
        %a{href: new_user_session_path}
          %i.icon-signin
          Sign In
      %li
        %a{href: new_user_registration_path}
          %i.icon-pencil
          Register