//- title : Event Listing
//- description: Tech and software events in Niagara, Ontario Canada
//- menu : Events
//- order: 0

extends ./../layout

block content
  .row
    .eight.columns
      p.lead
        | Software Niagara host technology events in the Niagara Region to showcase local talent 
        | and help form relationships between people in Niagara with an interest in technology.
      p 
        | We are also interested in promoting events from other groups that have similar goals. 
        | Please 
        a(href='/contact', title='Contact us') contact us 
        | if you would like your events listed here.
    .four.columns
      h3 Software Co-working
      p 
        | Join Software Niagara and Friends for co-working every Monday night at 7:00PM at 
        a(href='http://mahtay.ca', title='Mahtay Cafe') Mahtay Cafe. 
      p
        a(href='http://softwarecoworkingniagara.eventbrite.com', title='Register', class='button secondary') Register

      h3 Co-working Niagara 
      p 
        | Join Coworking Niagara to get stuff done with fellow creatives 
        | every Wednesday at 1:00PM at 
        a(href='http://mahtay.ca', title='Mahtay Cafe') Mahtay Cafe.
      p 
        a(href='http://niagaracoworking.eventbrite.ca', title='Register', class='button secondary') Register
