//- title : Event Listing
//- description: Tech and software events in Niagara, Ontario Canada
//- menu : Events
//- order: 0

extends ./../layout

block content
	.row
		.twelve.columns
			h1.page-title= title