//- title : Welcome
//- description : Software Niagara is a grassroots organization working to build a software community in Niagara
//- menu : Home
//- order: -5

extends ./../layout_home

block content
  .row
    .twelve.columns  
      .panel.promo
          h2 We are back
          p.lead 
            | We are back from the holidays and gearing up for an exciting winter.
            | We are planning Winter warmup and DemoCamp events for February.
          p
            a(class='button') Join us for co-working
  .row
    .twelve.columns
      p.lead
        | Software Niagara is a group of developers, creatives, and entrepreneurs 
        | with a belief that Niagara is a great place to create. Through outreach,
        | advocacy, and education, we are working to build a vibrant software 
        | community and strong innovation culture.
  .row
    .four.columns
      .accent.newsletter
        i.general.foundicon-inbox
      h3 Monthly Newsletter
      p
        | Join our monthly newsletter to keep up to date with tech in Niagara.
      p
        a(class='button secondary', data-reveal-id='modal-subscribe') Subscribe
    .four.columns
      .accent.events
        i.general.foundicon-flag
      h3 Upcoming Events
      p 
        | Check back soon. There are no upcoming events at this time.
      p
        a(class='button secondary') View Events
    .four.columns
      .accent.coworking
        i.general.foundicon-smiley
      h3 Co-working 
      p 
        | Join us for Software Co-working every Monday night at Mahtay Cafe.
      p 
        a(class='button secondary') Join Us