- content_for :breadcrumbs do
  %li
    = link_to 'Email Recipients', admin_emails_path
    .point

- if @emails.blank?
  %div.alert.alert-box.alert-info
    %a.close{data: {dismiss: 'alert'}, href: '#'} x
    %h4 No Email Recipients
    %p
      No one has signed up to receive email from Software Niagara.
      = link_to 'Add one', new_admin_email_path
      now.

- else
  %table.table.table-bordered.table-striped
    %tr
      %th Name
      %th Email
      %th Created
      %th Updated
      %th Actions
    - @emails.each do |email|
      = render email

%p
  = link_to 'Add Recipient', new_admin_email_path, class: 'btn btn-success btn-large pull-right'